# Development Environment Configuration

# Better Auth Secret
BETTER_AUTH_SECRET=supersecretkeyxsupersecretkeyxsupersecretkey

# Turborepo Global Environment Variables
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
