# Development Environment Configuration

# Better Auth Secret
BETTER_AUTH_SECRET=KRKV7CpsHJ22cUYeRILFXbJMw1RmVk7UbFkP2/QLS3k=

# Turborepo Global Environment Variables
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
